In [1]:

from datamart import search
from datamart.utilities.utils import SEARCH_URL
import json

from example.college_example.regression_demo import *

train_ = 'example/college_example/college_datasets/college_train.csv'
test_ = 'example/college_example/college_datasets/college_test.csv'
ground_truth_file = 'example/college_example/college_datasets/college_targets.csv'

In [2]:

train_df, train_dataset, flags = load_college(train_, calc_cols, flag_col, False)
print(train_df.head(5))
print(train_df.shape)

   d3mIndex    UNITID                                             INSTNM  \
0         0  12268508          San Joaquin Valley College-Rancho Cordova
1         1    207564  Oklahoma State University Institute of Technology
2         2    420024                         Centura College-Chesapeake
3         3    164492                                 Anna Maria College
4         4    234085                        Virginia Military Institute

   PCTFLOAN  CONTROL STABBR  PCIP16  MD_EARN_WNE_P10  PPTUG_EF  UGDS_WHITE  \
0       NaN        3     CA     NaN          28300.0       NaN         NaN
1    0.4750        1     OK  0.0000          35300.0    0.2297      0.2953
2    0.8125        3     VA  0.0000          21900.0    0.2315      0.2808
3    0.7465        2     MA  0.0000          44800.0    0.2621      0.6518
4    0.4589        1     VA  0.0321          65700.0    0.0000      0.7992

   UGDS_BLACK  UGDS_HISP  UGDS_ASIAN  SATMTMID  SATVRMID  SATWRMID    UGDS  \
0         NaN        NaN         NaN       NaN       NaN       NaN     NaN
1      0.0291     0.0647      0.0051       NaN       NaN       NaN  2164.0
2      0.5665     0.0493      0.0000       NaN       NaN       NaN   203.0
3      0.1258     0.1022      0.0123       NaN       NaN       NaN  1057.0
4      0.0607     0.0584      0.0420     575.0     575.0       NaN  1713.0

   PREDDEG  DEBT_EARNINGS_RATIO
0        0                   49
1        2                   36
2        2                  127
3        3                   76
4        3                   53
(3243, 19)

In [3]:
test_df, test_dataset, _ = load_college(test_, calc_cols, flag_col, True)
print(test_df.head(5))
print(test_df.shape)

   d3mIndex  UNITID                                       INSTNM  PCTFLOAN  \
0         6  451714         Paul Mitchell the School-San Antonio    0.5457
1         8  216542                   University of Valley Forge    0.7312
2        12  193584                             Nazareth College    0.7789
3        14  416670  Tennessee Academy of Cosmetology-Stage Road    0.6614
4        17  195702           Saint Elizabeth College of Nursing    0.8981

   CONTROL STABBR  PCIP16  MD_EARN_WNE_P10  PPTUG_EF  UGDS_WHITE  UGDS_BLACK  \
0        3     TX  0.0000          28000.0    0.0488      0.2369      0.0523
1        2     PA  0.0000          31100.0    0.1590      0.5431      0.1712
2        2     NY  0.0168          44300.0    0.0405      0.7765      0.0664
3        3     TN  0.0000          19600.0    0.3939      0.3030      0.6364
4        2     NY  0.0000          59100.0    0.6888      0.8878      0.0255

   UGDS_HISP  UGDS_ASIAN  SATMTMID  SATVRMID  SATWRMID    UGDS  PREDDEG  \
0     0.5958      0.0244       NaN       NaN       NaN   287.0        1
1     0.1792      0.0121       NaN       NaN       NaN   742.0        3
2     0.0532      0.0306       NaN       NaN       NaN  2125.0        3
3     0.0303      0.0303       NaN       NaN       NaN    33.0        1
4     0.0153      0.0306       NaN       NaN       NaN   196.0        2

   DEBT_EARNINGS_RATIO
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
(1747, 19)

In [4]:
ground_truth = pd.read_csv(ground_truth_file).iloc[:, 1].values

score1 = eval_regression(train_dataset, flags, test_dataset, ground_truth)

print(json.dumps(score1, indent=2))

Failed on mean_squared_log_error: Mean Squared Logarithmic Error cannot be used when targets contain negative values.
{
  "explained_variance_score": 0.466727247167957,
  "r2_score": 0.4664828221623286,
  "mean_squared_error": 459.5420846707296,
  "mean_absolute_error": 15.065878762932964
}

In [5]:
# AUGMENTATION
ori = pd.read_csv(train_)
query = {
    "dataset": {
        "about": "college, university, education, earning"
    },
    "required_variables": [
        {"type": "dataframe_columns", "index": [2]}
    ]
}
res = search(SEARCH_URL, query, ori, return_named_entity=False)
# 291330000 291340000 291320000 291350000
for r in res:
    print(r.summary)

 - Most Recent Cohorts All Data Elements -
    * Datamart ID: 291330000
    * Score: 4107.445
    * Description: College Scorecard Data
Find the college that’s the best fit for you! The U.S. Department of
Education’s College Scorecard has the most reliable data on college costs,
graduation, and post-college earnings.

    * URL: https://ed-public-download.app.cloud.gov/downloads/Most-Recent-Cohorts-All-Data-Elements.csv
    * Columns:
	[0] UNITID
	[1] OPEID
	[2] OPEID6
	[3] INSTNM
	[4] CITY
	 ...
	[1894] OMAWDP6_PTNFT_POOLED_SUPP
	[1895] OMAWDP8_PTNFT_POOLED_SUPP
	[1896] OMENRYP8_PTNFT_POOLED_SUPP
	[1897] OMENRAP8_PTNFT_POOLED_SUPP
	[1898] OMENRUP8_PTNFT_POOLED_SUPP
    * Recommend Join Columns:
	    Original Columns <-> datamart.Dataset Columns
	                 [2] <-> [3]

 - What's new from NSLDS -
    * Datamart ID: 291340000
    * Score: 4042.34
    * Description: College Scorecard Data
Find the college that’s the best fit for you! The U.S. Department of
Education’s College Scorecard has the most reliable data on college costs,
graduation, and post-college earnings.

    * URL: https://ed-public-download.app.cloud.gov/downloads/Most-Recent-Cohorts-NSLDS-Elements.csv
    * Columns:
	[0] UNITID
	[1] OPEID
	[2] OPEID6
	[3] INSTNM
	[4] SCH_DEG
	 ...
	[1190] NOPELL_RPY_3YR_RT_SUPP
	[1191] FEMALE_RPY_3YR_RT_SUPP
	[1192] MALE_RPY_3YR_RT_SUPP
	[1193] FIRSTGEN_RPY_3YR_RT_SUPP
	[1194] NOTFIRSTGEN_RPY_3YR_RT_SUPP
    * Recommend Join Columns:
	    Original Columns <-> datamart.Dataset Columns
	                 [2] <-> [3]

 - Most Recent Cohorts Scorecard Elements -
    * Datamart ID: 291320000
    * Score: 2890.0872
    * Description: College Scorecard Data
Find the college that’s the best fit for you! The U.S. Department of
Education’s College Scorecard has the most reliable data on college costs,
graduation, and post-college earnings.

    * URL: https://ed-public-download.app.cloud.gov/downloads/Most-Recent-Cohorts-Scorecard-Elements.csv
    * Columns:
	[0] UNITID
	[1] OPEID
	[2] OPEID6
	[3] INSTNM
	[4] CITY
	 ...
	[119] GRAD_DEBT_MDN_SUPP
	[120] GRAD_DEBT_MDN10YR_SUPP
	[121] RPY_3YR_RT_SUPP
	[122] C150_L4_POOLED_SUPP
	[123] C150_4_POOLED_SUPP
    * Recommend Join Columns:
	    Original Columns <-> datamart.Dataset Columns
	                 [2] <-> [3]

 - Post-school earnings -
    * Datamart ID: 291350000
    * Score: 2877.984
    * Description: College Scorecard Data
Find the college that’s the best fit for you! The U.S. Department of
Education’s College Scorecard has the most reliable data on college costs,
graduation, and post-college earnings.

    * URL: https://ed-public-download.app.cloud.gov/downloads/Most-Recent-Cohorts-Treasury-Elements.csv
    * Columns:
	[0] UNITID
	[1] OPEID
	[2] OPEID6
	[3] INSTNM
	[4] COUNT_ED
	 ...
	[87] SD_EARN_WNE_P9
	[88] GT_25K_P9
	[89] GT_28K_P10
	[90] GT_28K_P8
	[91] GT_28K_P6
    * Recommend Join Columns:
	    Original Columns <-> datamart.Dataset Columns
	                 [2] <-> [3]

In [6]:

train_df_aug, train_np_aug, _ = augment_college(train_, res[2])
print(train_df_aug.head(5))
print(train_df_aug.shape)

/Users/dongyuli/isi/repos/datamart/example/college_example/augmented_college_train.csv
   d3mIndex    UNITID                                             INSTNM  \
0         0  12268508          San Joaquin Valley College-Rancho Cordova
1         1    207564  Oklahoma State University Institute of Technology
2         2    420024                         Centura College-Chesapeake
3         3    164492                                 Anna Maria College
4         4    234085                        Virginia Military Institute

   PCTFLOAN  CONTROL STABBR  PCIP16 MD_EARN_WNE_P10  PPTUG_EF  UGDS_WHITE  \
0       NaN        3     CA     NaN           28300       NaN         NaN
1    0.4750        1     OK  0.0000           35300    0.2297      0.2953
2    0.8125        3     VA  0.0000           21900    0.2315      0.2808
3    0.7465        2     MA  0.0000           44800    0.2621      0.6518
4    0.4589        1     VA  0.0321           65700    0.0000      0.7992

          ...          PCTFLOAN.1  UG25ABV  MD_EARN_WNE_P10.1  GT_25K_P6  \
0         ...                 NaN      NaN              28300        NaN
1         ...              0.4750   0.2874              35300       0.61
2         ...              0.8125   0.6625              21900      0.256
3         ...              0.7465   0.3138              44800      0.668
4         ...              0.4589   0.0017              65700      0.777

   GT_28K_P6  GRAD_DEBT_MDN_SUPP  GRAD_DEBT_MDN10YR_SUPP  RPY_3YR_RT_SUPP  \
0      0.423               12000        127.572096094281     0.3015602145
1      0.593               12000        127.572096094281      0.501994302
2      0.203               20000        212.620160157136     0.1454356126
3      0.608             25374.5        269.756512695362      0.576119403
4      0.738               23900        254.081091387777     0.8394793926

   C150_L4_POOLED_SUPP  C150_4_POOLED_SUPP
0                  NaN                 NaN
1                  NaN              0.3087
2               0.6471                 NaN
3                  NaN              0.3606
4                  NaN              0.7606

[5 rows x 142 columns]

   d3mIndex    UNITID                                             INSTNM  \
0         0  12268508          San Joaquin Valley College-Rancho Cordova
1         1    207564  Oklahoma State University Institute of Technology
2         2    420024                         Centura College-Chesapeake
3         3    164492                                 Anna Maria College
4         4    234085                        Virginia Military Institute

   PCTFLOAN  CONTROL STABBR  PCIP16  MD_EARN_WNE_P10  PPTUG_EF  UGDS_WHITE  \
0       NaN        3     CA     NaN          28300.0       NaN         NaN
1    0.4750        1     OK  0.0000          35300.0    0.2297      0.2953
2    0.8125        3     VA  0.0000          21900.0    0.2315      0.2808
3    0.7465        2     MA  0.0000          44800.0    0.2621      0.6518
4    0.4589        1     VA  0.0321          65700.0    0.0000      0.7992

          ...          PCTFLOAN.1  UG25ABV  MD_EARN_WNE_P10.1  GT_25K_P6  \
0         ...                 NaN      NaN            28300.0        NaN
1         ...              0.4750   0.2874            35300.0      0.610
2         ...              0.8125   0.6625            21900.0      0.256
3         ...              0.7465   0.3138            44800.0      0.668
4         ...              0.4589   0.0017            65700.0      0.777

   GT_28K_P6  GRAD_DEBT_MDN_SUPP  GRAD_DEBT_MDN10YR_SUPP  RPY_3YR_RT_SUPP  \
0      0.423             12000.0              127.572096         0.301560
1      0.593             12000.0              127.572096         0.501994
2      0.203             20000.0              212.620160         0.145436
3      0.608             25374.5              269.756513         0.576119
4      0.738             23900.0              254.081091         0.839479

   C150_L4_POOLED_SUPP  C150_4_POOLED_SUPP
0                  NaN                 NaN
1                  NaN              0.3087
2               0.6471                 NaN
3                  NaN              0.3606
4                  NaN              0.7606

[5 rows x 142 columns]
(3243, 142)

In [7]:
test_df_aug, test_np_aug, _ = augment_college(test_, res[2])
print(test_df_aug.head(5))
print(test_df.shape)

/Users/dongyuli/isi/repos/datamart/example/college_example/augmented_college_test.csv
   d3mIndex  UNITID                                       INSTNM  PCTFLOAN  \
0         6  451714         Paul Mitchell the School-San Antonio    0.5457
1         8  216542                   University of Valley Forge    0.7312
2        12  193584                             Nazareth College    0.7789
3        14  416670  Tennessee Academy of Cosmetology-Stage Road    0.6614
4        17  195702           Saint Elizabeth College of Nursing    0.8981

   CONTROL STABBR  PCIP16 MD_EARN_WNE_P10  PPTUG_EF  UGDS_WHITE  \
0        3     TX  0.0000           28000    0.0488      0.2369
1        2     PA  0.0000           31100    0.1590      0.5431
2        2     NY  0.0168           44300    0.0405      0.7765
3        3     TN  0.0000           19600    0.3939      0.3030
4        2     NY  0.0000           59100    0.6888      0.8878

          ...          PCTFLOAN.1  UG25ABV  MD_EARN_WNE_P10.1  GT_25K_P6  \
0         ...              0.5457   0.3266              28000      0.454
1         ...              0.7312   0.1714              31100      0.493
2         ...              0.7789   0.0759              44300       0.74
3         ...              0.6614   0.5854              19600      0.214
4         ...                 NaN      NaN              59100        NaN

   GT_28K_P6  GRAD_DEBT_MDN_SUPP  GRAD_DEBT_MDN10YR_SUPP  RPY_3YR_RT_SUPP  \
0      0.402                9833        104.534701741256     0.4402116402
1      0.458               27000        287.037216212134     0.5202205882
2      0.699               26582        282.593454864849     0.6878814298
3      0.291                7917        84.1656903982024     0.2643171806
4      0.810               16000        170.096128125709     0.7382198953

   C150_L4_POOLED_SUPP  C150_4_POOLED_SUPP
0               0.6238                 NaN
1                  NaN              0.4494
2                  NaN              0.7088
3               0.6393                 NaN
4                  NaN                 NaN

[5 rows x 142 columns]

   d3mIndex  UNITID                                       INSTNM  PCTFLOAN  \
0         6  451714         Paul Mitchell the School-San Antonio    0.5457
1         8  216542                   University of Valley Forge    0.7312
2        12  193584                             Nazareth College    0.7789
3        14  416670  Tennessee Academy of Cosmetology-Stage Road    0.6614
4        17  195702           Saint Elizabeth College of Nursing    0.8981

   CONTROL STABBR  PCIP16  MD_EARN_WNE_P10  PPTUG_EF  UGDS_WHITE  \
0        3     TX  0.0000          28000.0    0.0488      0.2369
1        2     PA  0.0000          31100.0    0.1590      0.5431
2        2     NY  0.0168          44300.0    0.0405      0.7765
3        3     TN  0.0000          19600.0    0.3939      0.3030
4        2     NY  0.0000          59100.0    0.6888      0.8878

          ...          PCTFLOAN.1  UG25ABV  MD_EARN_WNE_P10.1  GT_25K_P6  \
0         ...              0.5457   0.3266            28000.0      0.454
1         ...              0.7312   0.1714            31100.0      0.493
2         ...              0.7789   0.0759            44300.0      0.740
3         ...              0.6614   0.5854            19600.0      0.214
4         ...                 NaN      NaN            59100.0        NaN

   GT_28K_P6  GRAD_DEBT_MDN_SUPP  GRAD_DEBT_MDN10YR_SUPP  RPY_3YR_RT_SUPP  \
0      0.402              9833.0              104.534702         0.440212
1      0.458             27000.0              287.037216         0.520221
2      0.699             26582.0              282.593455         0.687881
3      0.291              7917.0               84.165690         0.264317
4      0.810             16000.0              170.096128         0.738220

   C150_L4_POOLED_SUPP  C150_4_POOLED_SUPP
0               0.6238                 NaN
1                  NaN              0.4494
2                  NaN              0.7088
3               0.6393                 NaN
4                  NaN                 NaN

[5 rows x 142 columns]
(1747, 19)

In [9]:

score2 = eval_regression(train_np_aug, flags, test_np_aug, ground_truth)
print(json.dumps(score2, indent=2))

Failed on mean_squared_log_error: Mean Squared Logarithmic Error cannot be used when targets contain negative values.
{
  "explained_variance_score": 0.8928653416369062,
  "r2_score": 0.8386725788506231,
  "mean_squared_error": 138.9584862665741,
  "mean_absolute_error": 9.059746612251518
}

/anaconda3/envs/datamart_env/lib/python3.6/site-packages/sklearn/linear_model/ridge.py:125: LinAlgWarning: scipy.linalg.solve
Ill-conditioned matrix detected. Result is not guaranteed to be accurate.
Reciprocal condition number6.030217e-19
  overwrite_a=True).T

In [10]:
print("{:<30}{:<30}{:<30}".format("metric.*", "original", "augmented"))
      
for i, pair in enumerate(score1.items()):
    name, score = pair
    print("{:<30}{:<30}{:<30}".format(name, score, list(score2.values())[i]))

metric.*                      original                      augmented
explained_variance_score      0.466727247167957             0.8928653416369062
r2_score                      0.4664828221623286            0.8386725788506231
mean_squared_error            459.5420846707296             138.9584862665741
mean_absolute_error           15.065878762932964            9.059746612251518